.platform {
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 15px;
    padding: 0 10px;
    background: rgb(52, 197, 33);
    color:  rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    font-size: 14px;
    /* cursor: pointer; */
    outline: 0;
    top: 605px;
    border-radius: 5px;  
  }